*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #EBEBEB;
}

.header{
    display: flex;
    flex-direction: column;
}

.menu1{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #FBF059;
    align-items: center;
    margin-top: -15px;
    margin-bottom: -10px;
}

.menuHijo1 .logoML{
    padding: 0px 45px 0px 70px
}

.menu1 .buscador .linea-vertical{
    background-color: black;
    height: 20px;
    margin-left: 50px;
}

.lupa{
    margin-left: 10px;
}

.menu1 .buscador{
    background-color: #fff;
    width: 550px;
    height: 40px;
}

.buscador{
    display: flex;
    align-items: center;
    border-radius: 1px;
}

.buscador input{
    width:80%;
    height: 30px;
    font: 17px;
    border: 0px;
    margin-left: 10px;
}

.menu2{
    background-color: #FBF059;
    height: 30px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
}

.listas{
    width: 400px;
}

.menu2 .listaUno{
    list-style: none;
    display: inline-flex;
    margin-left: 60px;
}

.menu2 ul{
    text-decoration: none;
    list-style: none;
}

.menu2 ul li a{
    text-decoration: none;
    margin: 10px;
    color: #7F782C;
}

.listaDos li{
    display: flex;
    align-items: center;
}

.menu2 .listaDos img{
    width: 40px;
    height: 40px;
}

.carrusel{
    width: 100%;
    height: 300px;
}

.carrusel img{
    width: 100%;
    height: 100%;
}

.menu2 .listaDos{
    display: inline-flex;
}

.menu2 .listaDos ul li a{
    list-style: none;
}

.pagos1{
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #00000032;
    height: 85px;
    border-radius: 5px;
    margin: auto;
    margin-top: 35px;
}

.pagos1Hijos{
    width: 300px;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenLogo{
    align-items: center;
    justify-content: center;
}

.imagenLogo img{
    padding: 10px;
}

.texto{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.textoHijos a{
    text-decoration: none;
}

.ofertas{
    font-size: 25px;
}

.subtitulos{
    margin: 30px 60px;
    display: flex;
    align-items: center;
}

.subtitulos a{
    margin-left: 20px;
}

.productos{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.producto{
    width: 235px;
    height: 430px;
    background-color: white;
}

.producto img{
    width: 235px;
    height: 300px;
    border-bottom: 1px solid #00000032;
}

.descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descripcion p:nth-child(1){
    padding: 10px 0px;
    /* font-weight: bolder; */
    font-size: 24px;
}

.promo{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.producto:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.puntos{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 70px;
    width: 90%;
    box-shadow: 1px 1px 1px 1px #00000032;
    margin-bottom:20px;
}

.tituloPuntos{
    background: rgb(170,31,144);
    background: linear-gradient(90deg, rgba(170,31,144,1) 52%, rgba(73,12,107,1) 74%, rgba(15,25,82,1) 100%);
    border-radius: 6px 6px 0px 0px;
    color: white;
    box-shadow: 2px 0px 0px 0px #00000032;
    display: flex;
    height: 90px;
    align-items: center;
}

.tituloIzquierdo{
    margin-left: 20px;
}

.tituloDerecho{
    display: flex;
    justify-content: end;
    width: 78%;
}

.puntos .titulosPuntos .tituloDerecho .lineaVertical{
    background-color: white;
    height: 80px;
    width: 1px;
}

.beneficiosPuntos{
    height: 240px;
    background-color: white;
}

.beneficiosPuntosHijos p{
    margin-top: 20px;
    margin-left: 20px;
}

.beneficiosTv{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.canal{
    display: flex;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

.texto-beneficios p{
    width: 200px;
    padding-left: 10px;
}

.boton{
    display: flex;
    justify-content: end;
    margin: 10px 20px;
}

.boton-suscripcion{
    padding: 12px;
    border-radius: 10px;
    border: 1px;
    background-color: #4583FB;
}

.boton-suscripcion a{
    text-decoration: none;
    color: white;
}